/*
Theme colors
  Background: #C9FAFF
  Nav BG: #7D3FE8
  Text: #2B1C02
  Highlight: #FF1A22
  Warn: #B9FF0D
*/

* {
    box-sizing: border-box;
    color: #2B1C02;
}

body {
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    background: url('https://subtlepatterns.com/patterns/ticks.png');
    height: 100%;
}

input {
    background-color: #EEEEEE;
    color: #2B1C02;
    font-family: 'Droid Sans', sans-serif;
    font-size: 25px;
    width: 30%;
    height: 45px;
    margin: 0px;
    border-radius: 5px;
    padding-left: 10px;
    float: right;
}

.navbar {
    width: 100%;
    height: 63px;
    background-color: #7D3FE8;
    padding: 9 10 0 9;
}

.title {
    display: inline-block;
    font-size: 40px;
    font-style: italic;
    float: left;
    margin-left: 15px;
}

.burger {
    float: left;
    height: 45px;
    width: 53px;
    margin: 0px;
    cursor: pointer;
}
