/* Theme colors https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.5327464722882752,1,0.376018799984565,0.545022303200356,0.9998039215686274,0.8345734487422581,0.35294117647058826,0.6627450980392157,0.9098039215686274,0.5058823529411764,0.47843137254901963,0.596078431372549,0.5058823529411764,0.2057189274563033,0.48209005638303065&swatchOrder=0,1,2,3,4 */

$c-warn: #FFEF41;
$c-hl: #8BFFD5;
$c-bg: #817a98;
$c-nav: #5AA9E8;
$c-nav-t: rgba(125,63,232,0.4);
$c-dark: #81347B;

/* BW + neutral colors */
$c-text: #2B1C02;
$c-white: #EAEAEA; 
$c-grey: #a2a2a2;
$c-black: #181818;

/* Sizing */
$s-nav: 63px;
$s-nav-item: $s-nav * 0.69;

$s-rail: 280px;
$s-rail-shift: $s-rail * -1;
$s-filter: 40px;
$s-rail-item: 55px;
$s-rail-margin: 2px;
$s-rail-top: (4*$s-rail-margin)+(2*$s-filter);

$s-nav-pad-lr: $s-nav * 0.35;
$s-nav-pad-tb: $s-nav * 0.14;

/* Font Values */
$f-s4: 40px;
$f-s3: 30px;
$f-s2: 25px;
$f-s1: 20px;

/* MISC */
$trans-speed: .35s;


* {
    font-family: Helvetica Neue,Helvetica,Arial sans-serif;
    box-sizing: border-box;
    color: $c-text;

    border: none; //Borders are dumb
}

#load_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-black;
    text-align: center;
    z-index: 100;
    color: $c-white;
    padding: 25%;
}


body {
    margin: 0;
    // background: url('https://subtlepatterns.com/patterns/ticks.png');
    background-color: $c-bg;
    height: 100%;
}

input {
    background-color: $c-white;
    color: $c-text;
    font-size: $f-s2;
    width: 30%;
    height: $s-nav-item;
    margin: 0px;
    border: hidden;
    border-radius: 3px;
    padding-left: 10px;
    float: right;
}

.navbar {
    width: 100%;
    height: $s-nav;
    background-color: $c-nav;
    padding: $s-nav-pad-tb $s-nav-pad-lr;
}

.rail {
    width: $s-rail;
    height: calc(100% - #{$s-nav});
    background: $c-grey;
    float: left;

    position: relative;
    left: $s-rail-shift;
    transition: left $trans-speed;

    padding: 2px 3px;
}

.rail-top {
    width: 100%;
    height: $s-rail-top;
}

.rail-bottom {
    width: 100%;
    height: calc(100% - #{$s-rail-top});
    overflow: auto;
}

select {
    //Rebuild the select to match theme
 //   -webkit-appearance: none;
   // -moz-appearance: none;
}

video {
    max-width: calc(98% - #{$s-rail});
    height: calc(90% - #{$s-nav});
    margin: 1%;
}
    

.rail-item {
    width: calc(#{$s-rail} - 22px);
    width: 100%;
    height: $s-rail-item;
    font-size: $f-s1;
    margin: $s-rail-margin 0px;
    padding: 10px 10px;
    border-radius: 3px;

    cursor: pointer;

    background: $c-white;
}

.filter {
    font-size: $f-s3;
    width: 100%;
    height: $s-filter;
    margin: 1px 0px;
    background: $c-dark;
    color: $c-white;
    padding: 0 10px;
}

.title {
    display: inline-block;
    font-size: $f-s4;
    font-style: italic;
    float: left;
    margin-left: 15px;
}

.burger {
    float: left;
    height: $s-nav-item;
    width: calc(#{$s-nav-item} + 13);
    margin: 0px;
    cursor: pointer;
    opacity: .5;
    transition: opacity $trans-speed;
}
.burger:hover {
    opacity: 1;
    transition: opacity $trans-speed;
}
