/* Theme colors https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.5327464722882752,1,0.376018799984565,0.545022303200356,0.9998039215686274,0.8345734487422581,0.35294117647058826,0.6627450980392157,0.9098039215686274,0.5058823529411764,0.47843137254901963,0.596078431372549,0.5058823529411764,0.2057189274563033,0.48209005638303065&swatchOrder=0,1,2,3,4 */

$c-warn: #FFEF41;
$c-hl: #8BFFD5;
$c-bg: #817a98;
$c-nav: #5AA9E8;
$c-nav-t: rgba(125,63,232,0.4);
$c-dark: #81347B;

/* BW + neutral colors */
$c-text: #2B1C02;
$c-white: #EAEAEA; 
$c-grey: #a2a2a2;
$c-black: #181818;

/* Sizing */
// Nav bar and items
$s-navbar: 63px;
$s-nav-item: $s-navbar * 0.69;
$s-bar-item-spacing: 12px;

// Filter bar and items
$s-facetbar: 63px;
$s-facet: $s-facetbar * 0.69;

$s-bar-padding-lr: $s-navbar * 0.35;
$s-bar-padding-tb: $s-navbar * 0.14;

/* Font Values */
$f-s4: 40px;
$f-s3: 30px;
$f-s2: 25px;
$f-s1: 20px;


* {
    font-family: Helvetica Neue,Helvetica,Arial sans-serif;
    box-sizing: border-box;
    color: $c-text;

    border: none; //Borders are dumb
}

body {
    margin: 0;
    // background: url('https://subtlepatterns.com/patterns/ticks.png');
    background-color: $c-bg;
    height: 100%;
}

.bar {
    width: 100%;
    padding: $s-bar-padding-tb $s-bar-padding-lr;
}

.navbar {
    height: $s-navbar;
    background-color: $c-white;
}

.facetbar {
    height: $s-facetbar;
    background-color: $c-grey;
}

.nav-item {
    color: $c-text;
    font-size: $f-s3;
    width: 30%;
    height: $s-nav-item;
    margin: 0 $s-bar-item-spacing
}

.facet {
    color: $c-text;
    font-size: $f-s3;
    width: 220px;
    height: $s-facet;
    margin: 0 $s-bar-item-spacing
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

.year {
    width: 80px;
}

.title {
    display: inline-block;
    font-size: $f-s4;
    float: left;
    margin-left: 15px;
}

.stats {
    font-size: $f-s1
}

input {
    background-color: $c-white;
    font-size: $f-s2;
    border: hidden;
    border-radius: 3px;
    padding-left: 10px;
    text-align: left;
    height: 100%;
}

select {
    background-color: $c-white;
    font-size: $f-s2;
    border: hidden;
    border-radius: 3px;
    padding-left: 10px;
    text-align: left;
    height: 100%;
    //Rebuild the select to match theme
    //   -webkit-appearance: none;
    // -moz-appearance: none;
}

video {

}
